<svg
  width="512"
  height="512"
  viewBox="0 0 512 512"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <rect width="512" height="512" fill="#131313" />
  <rect width="512" height="512" fill="#353030" />
  <g filter="url(#filter0_d)">
    <path
      d="M256 149.504L374.962 309.248H137.038L256 149.504Z"
      fill="#FFF5F5"
    />
  </g>
  <g filter="url(#filter1_d)">
    <path
      d="M255.489 440.924L99.2054 190.741L410.636 190.057L255.489 440.924Z"
      fill="white"
    />
  </g>
  <g filter="url(#filter2_d)">
    <path
      d="M127.98 169.246L110.309 100.792L145.282 126.119L154.67 162.485L193.969 193.554L243.851 210.545L256 257.608L206.118 240.616L201.148 221.363L164.61 200.991L127.98 169.246Z"
      fill="#CB5656"
      stroke="#CB5656"
    />
  </g>
  <g filter="url(#filter3_d)">
    <path
      d="M384.02 169.246L401.691 100.792L366.718 126.119L357.33 162.485L318.031 193.554L268.149 210.545L256 257.608L305.882 240.616L310.852 221.363L347.39 200.991L384.02 169.246Z"
      fill="#CB5656"
      stroke="#CB5656"
    />
  </g>
  <defs>
    <filter
      id="filter0_d"
      x="133.038"
      y="149.504"
      width="245.925"
      height="167.744"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feColorMatrix
        in="SourceAlpha"
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
      />
      <feOffset dy="4" />
      <feGaussianBlur stdDeviation="2" />
      <feColorMatrix
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
      />
      <feBlend
        mode="normal"
        in2="BackgroundImageFix"
        result="effect1_dropShadow"
      />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="effect1_dropShadow"
        result="shape"
      />
    </filter>
    <filter
      id="filter1_d"
      x="95.2054"
      y="190.057"
      width="319.43"
      height="258.867"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feColorMatrix
        in="SourceAlpha"
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
      />
      <feOffset dy="4" />
      <feGaussianBlur stdDeviation="2" />
      <feColorMatrix
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
      />
      <feBlend
        mode="normal"
        in2="BackgroundImageFix"
        result="effect1_dropShadow"
      />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="effect1_dropShadow"
        result="shape"
      />
    </filter>
    <filter
      id="filter2_d"
      x="105.478"
      y="75.776"
      width="155.237"
      height="214.848"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feColorMatrix
        in="SourceAlpha"
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
      />
      <feOffset dy="4" />
      <feGaussianBlur stdDeviation="2" />
      <feColorMatrix
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
      />
      <feBlend
        mode="normal"
        in2="BackgroundImageFix"
        result="effect1_dropShadow"
      />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="effect1_dropShadow"
        result="shape"
      />
    </filter>
    <filter
      id="filter3_d"
      x="251.285"
      y="75.776"
      width="155.237"
      height="214.848"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feColorMatrix
        in="SourceAlpha"
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
      />
      <feOffset dy="4" />
      <feGaussianBlur stdDeviation="2" />
      <feColorMatrix
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
      />
      <feBlend
        mode="normal"
        in2="BackgroundImageFix"
        result="effect1_dropShadow"
      />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="effect1_dropShadow"
        result="shape"
      />
    </filter>
  </defs>
</svg>
